version: 2
jobs:
  
  integrate:
    docker:
      - image: circleci/node:8.10
    steps:
      - checkout
      - run:
          name: Environment
          command: |
            git --version
            env | sort | grep "CIRCLE"
      - run:
          name: Intro
          command: ./play --manuscript .circleci/manuscript.yml --part gitintro
      - run:
          name: Swap to target branch and test integration
          command: ./play --manuscript .circleci/manuscript.yml --part integrate

  unittest:
    docker:
      - image: circleci/node:8.10
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "./functions/package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: npm install --prefix ./functions/
      - save_cache:
          paths:
            - ./functions/node_modules
          key: v1-dependencies-{{ checksum "./functions/package.json" }}
      - run: npm test

  end-2-end-test:
    docker:
      - image: circleci/node:8.10
    steps:
      - checkout
      - run:
          name: Swap to target branch and integrate
          command: ./play --manuscript .circleci/manuscript.yml --part integrate
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "./functions/package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: npm install --prefix ./functions/
      - save_cache:
          paths:
            - ./functions/node_modules
          key: v1-dependencies-{{ checksum "./functions/package.json" }}
      - run:
          name: Install Firebase Tools
          command: sudo npm install --prefix=./firebase-deploy firebase-tools
  stage:
    docker:
      - image: circleci/node:8.10
    steps:
      - checkout
      - run:
          name: Intro
          command: ./play --manuscript .circleci/manuscript.yml --part gitintro
      - run:
          name: integrate
          command: ./play --manuscript .circleci/manuscript.yml --part integrate
      - run:
          name: Deliver
          command: ./play --manuscript .circleci/manuscript.yml --part deliver
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "./functions/package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: npm install --prefix ./functions/
      - save_cache:
          paths:
            - ./functions/node_modules
          key: v1-dependencies-{{ checksum "./functions/package.json" }}
      - run:
          name: Install Firebase Tools
          command: sudo npm install --prefix=./firebase-deploy firebase-tools
      - run:
          name: deploy firebase
          command: sudo ./firebase-deploy/node_modules/.bin/firebase deploy --token=$FIREBASE_TOKEN - tagret stageenvironment or prod environment
workflows:
  version: 2
  gitlabelwizard:
    jobs:
      - integrate:
          filters:
            branches:
              only:
                - /ready\/.+/ 
      - unittest: 
      - end-2-end-test: #deploy to local docker (PLE) and run tests - massage your API :-)
          # Run your testes (end-to-end tests? Split them up?)
          requires:
            - unittest
      - stage: # Deploy to stage 
          requires:
            - unittest
            - end-2-end-test 
          filters:
              branches:
                only:
                  - master
      
#       - production: # Deploy to live-prod env
#          requires:
#            - unittest
#           - end-2-end-test
#            - stage
#          filters:
#            branches:
#              only:
#                - master
#            tags:
#              only:
#                - /\d+\.\d+\.\d+(\.\C{1,30})?/

